@use './variables' as *;

//breakpoints
// @media (min-width: 1200px) {}
// @media (min-width: 1400px) {}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 100%;
    height: 100%;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.084px;
    scroll-behavior: smooth;
}

figure {
    display: flex;
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    margin: 0;
    padding: 0;
    letter-spacing: normal;
}

h2 {
    color: $primary-dark;
    font-size: 25px;
    font-weight: 500;
    line-height: 28px;
    width: 100%;

    @media screen and (min-width: $pc) {
        font-size: 35px;
    }
}

ul, li {
    margin: 0;
    padding: 0;
}

// TODO: zmenit border color podle typu buttonu (na hover budou stejne)
button, .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 52px;
    width: 100%;
    max-width: 336px;
    border-radius: 5px;
    border: 0.5px solid $border;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    box-sizing: border-box;
    transition: all 0.4s ease-out;
    text-decoration: none;

    span {
        font-size: 15px;
        font-weight: 900;
        letter-spacing: 0.6px;
        color: $primary-dark;
        text-transform: uppercase;
    }

    &.primary {
        background-color: #fff;

        &:hover {
            background-color: $primary-dark;

            span {
                color: #fff;
            }
        }
    }

    &.secondary {
        background-color: $secondary-yellow;

        &:hover {
            background-color: $primary-dark;
            span {
                color: $secondary-yellow;
            }
        }
    }

    &.no-box-shadow {
        box-shadow: none;
    }
}

// TODO: pouzit spravny font - NAIMPORTOVAT ROBOTO
input, textarea {
    font-family: 'Inter', sans-serif;
    height: 52px;
    width: 100%;
    max-width: 336px;
    border-radius: 5px;
    border: 0.5px solid $border;
    padding-left: 1rem;
    color: rgba(0, 0, 0, 0.50);
    font-size: 15px;
    font-weight: 400;
    transition: all 0.4s ease-out;
    box-sizing: border-box;
    resize: none;
    background: transparent;

    &:focus-visible {
        outline: none;
    }

    &.success {
        border-color: $success;
    }

    &.error {
        border-color: $error;
    }
}

@media screen and (min-width: $pc) {
    textarea {
        height: 100%;
        padding-top: 16px;
        max-width: 500px;
    }
}

.container {
    max-width: 1700px;
    width: 100%;
    padding: 0 20px;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;

    @media screen and (min-width: $pc) {
        padding: 0 80px;
    }
}
